@charset "utf-8";

body {
	padding: 0;
	margin: 0;
	font-size: 12px;
	font-family: Arial, Verdana, "Helvetica Neue", Helvetica, sans-serif;
	
}

fieldset {
  padding: 10px;
}

a {
  color: #0088cc;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #005580;
  text-decoration: underline;
}

img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}

button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}

button,
input {
  *overflow: visible;
  line-height: normal;
}

button,
html input[type="button"],
input[type="submit"] {
  cursor: pointer;
}

label,
select,
button,
input[type="button"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
  padding: 0;
  margin: 0;
}

ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}

ul.inline,
ol.inline {
  margin-left: 0;
  list-style: none;
}

ul.inline > li,
ol.inline > li {
  display: inline-block;
  *display: inline;
  padding-right: 5px;
  padding-left: 5px;
  *zoom: 1;
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
}

abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #999999;
}

abbr.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

address {
  display: block;
  margin-bottom: 20px;
  font-style: normal;
  line-height: 20px;
}

select {
  width: 200px;
  height: 22px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}


/********** Image ： Start **********/

.img-rounded {
          border-radius: 6px;
}

.img-polaroid {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.thumbnails {
  margin-left: -20px;
  list-style: none;
  *zoom: 1;
}

.thumbnails:before,
.thumbnails:after {
  display: table;
  line-height: 0;
  content: "";
}

.thumbnails:after {
  clear: both;
}

.row-fluid .thumbnails {
  margin-left: 0;
}

.thumbnails > li {
  float: left;
  margin-bottom: 20px;
  margin-left: 20px;
}

.thumbnail {
  display: block;
  padding: 4px;
  line-height: 20px;
  border: 1px solid #ddd;
          border-radius: 4px;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
          transition: all 0.2s ease-in-out;
}

a.thumbnail:hover,
a.thumbnail:focus {
  border-color: #0088cc;
          box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

.thumbnail > img {
  display: block;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.thumbnail .caption {
  padding: 9px;
  color: #555555;
}
/********** Image ： End ************/


/********** Text ： Start **********/

.text-warning {
  color: #c09853;
}

a.text-warning:hover,
a.text-warning:focus {
  color: #a47e3c;
}

.text-error {
  color: #b94a48;
}

a.text-error:hover,
a.text-error:focus {
  color: #953b39;
}

.text-info {
  color: #3a87ad;
}

a.text-info:hover,
a.text-info:focus {
  color: #2d6987;
}

.text-success {
  color: #468847;
}

a.text-success:hover,
a.text-success:focus {
  color: #356635;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

/********** Text ： End ************/


/********** Table ： Start **********/

table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

.table {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.table th,
.table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

.table th {
  font-weight: normal;
}

.table thead th {
  vertical-align: bottom;
}

.table caption + thead tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
  border-top: 0;
}

.table tbody + tbody {
  border-top: 2px solid #dddddd;
}

.table {
  background-color: #ffffff;
}

/* Enquete Table : Start */
.table-enquete {
  border: 1px solid #c5c5c5;
  border-collapse: separate;
  *border-collapse: collapse;
  *border-left: 0;
          border-radius: 4px;
}

.table-enquete th {
  border-left: 1px solid #c5c5c5;
}
.table-enquete thead:first-child tr:first-child th {
	border-left: 0;
    background-color: #e3e3e3;
}

.table-enquete thead tr {
    background-color: #e3e3e3;
}

.table-enquete caption + thead tr:first-child th,
.table-enquete caption + tbody tr:first-child th,
.table-enquete caption + tbody tr:first-child td,
.table-enquete colgroup + thead tr:first-child th,
.table-enquete colgroup + tbody tr:first-child th,
.table-enquete colgroup + tbody tr:first-child td,
.table-enquete thead:first-child tr:first-child th,
.table-enquete tbody:first-child tr:first-child th,
.table-enquete tbody:first-child tr:first-child td {
  border-top: 0;
}

.table-enquete thead:first-child tr:first-child > th:first-child,
.table-enquete tbody:first-child tr:first-child > td:first-child,
.table-enquete tbody:first-child tr:first-child > th:first-child {
          border-top-left-radius: 4px;
}

.table-enquete thead:first-child tr:first-child > th:last-child,
.table-enquete tbody:first-child tr:first-child > td:last-child,
.table-enquete tbody:first-child tr:first-child > th:last-child {
          border-top-right-radius: 4px;
}

.table-enquete thead:last-child tr:last-child > th:first-child,
.table-enquete tbody:last-child tr:last-child > td:first-child,
.table-enquete tbody:last-child tr:last-child > th:first-child,
.table-enquete tfoot:last-child tr:last-child > td:first-child,
.table-enquete tfoot:last-child tr:last-child > th:first-child {
          border-bottom-left-radius: 4px;
}

.table-enquete thead:last-child tr:last-child > th:last-child,
.table-enquete tbody:last-child tr:last-child > td:last-child,
.table-enquete tbody:last-child tr:last-child > th:last-child,
.table-enquete tfoot:last-child tr:last-child > td:last-child,
.table-enquete tfoot:last-child tr:last-child > th:last-child {
          border-bottom-right-radius: 4px;
}

.table-enquete tfoot + tbody:last-child tr:last-child td:first-child {
          border-bottom-left-radius: 0;
}

.table-enquete tfoot + tbody:last-child tr:last-child td:last-child {
          border-bottom-right-radius: 0;
}

.table-enquete caption + thead tr:first-child th:first-child,
.table-enquete caption + tbody tr:first-child td:first-child,
.table-enquete colgroup + thead tr:first-child th:first-child,
.table-enquete colgroup + tbody tr:first-child td:first-child {
          border-top-left-radius: 4px;
}

.table-enquete caption + thead tr:first-child th:last-child,
.table-enquete caption + tbody tr:first-child td:last-child,
.table-enquete colgroup + thead tr:first-child th:last-child,
.table-enquete colgroup + tbody tr:first-child td:last-child {
          border-top-right-radius: 4px;
}
/* Enquete Table : End */

.table-condensed th,
.table-condensed td {
  padding: 4px 5px;
}

.table-bordered {
  border: 1px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapse;
  border-left: 0;
          border-radius: 4px;
}

.table-bordered th,
.table-bordered td {
  border-left: 1px solid #dddddd;
}

.table-bordered caption + thead tr:first-child th,
.table-bordered caption + tbody tr:first-child th,
.table-bordered caption + tbody tr:first-child td,
.table-bordered colgroup + thead tr:first-child th,
.table-bordered colgroup + tbody tr:first-child th,
.table-bordered colgroup + tbody tr:first-child td,
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}

.table-bordered thead:first-child tr:first-child > th:first-child,
.table-bordered tbody:first-child tr:first-child > td:first-child,
.table-bordered tbody:first-child tr:first-child > th:first-child {
          border-top-left-radius: 4px;
}

.table-bordered thead:first-child tr:first-child > th:last-child,
.table-bordered tbody:first-child tr:first-child > td:last-child,
.table-bordered tbody:first-child tr:first-child > th:last-child {
          border-top-right-radius: 4px;
}

.table-bordered thead:last-child tr:last-child > th:first-child,
.table-bordered tbody:last-child tr:last-child > td:first-child,
.table-bordered tbody:last-child tr:last-child > th:first-child,
.table-bordered tfoot:last-child tr:last-child > td:first-child,
.table-bordered tfoot:last-child tr:last-child > th:first-child {
          border-bottom-left-radius: 4px;
}

.table-bordered thead:last-child tr:last-child > th:last-child,
.table-bordered tbody:last-child tr:last-child > td:last-child,
.table-bordered tbody:last-child tr:last-child > th:last-child,
.table-bordered tfoot:last-child tr:last-child > td:last-child,
.table-bordered tfoot:last-child tr:last-child > th:last-child {
          border-bottom-right-radius: 4px;
}

.table-bordered tfoot + tbody:last-child tr:last-child td:first-child {
          border-bottom-left-radius: 0;
}

.table-bordered tfoot + tbody:last-child tr:last-child td:last-child {
          border-bottom-right-radius: 0;
}

.table-bordered caption + thead tr:first-child th:first-child,
.table-bordered caption + tbody tr:first-child td:first-child,
.table-bordered colgroup + thead tr:first-child th:first-child,
.table-bordered colgroup + tbody tr:first-child td:first-child {
          border-top-left-radius: 4px;
}

.table-bordered caption + thead tr:first-child th:last-child,
.table-bordered caption + tbody tr:first-child td:last-child,
.table-bordered colgroup + thead tr:first-child th:last-child,
.table-bordered colgroup + tbody tr:first-child td:last-child {
          border-top-right-radius: 4px;
}

.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}


.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
  background-color: #f1f1f1;
}


table td[class*="span"],
table th[class*="span"],
.row-fluid table td[class*="span"],
.row-fluid table th[class*="span"] {
  display: table-cell;
  float: none;
  margin-left: 0;
}

.table td.span1,
.table th.span1 {
  float: none;
  width: 44px;
  margin-left: 0;
}

.table td.span2,
.table th.span2 {
  float: none;
  width: 124px;
  margin-left: 0;
}

.table td.span3,
.table th.span3 {
  float: none;
  width: 204px;
  margin-left: 0;
}

.table td.span4,
.table th.span4 {
  float: none;
  width: 284px;
  margin-left: 0;
}

.table td.span5,
.table th.span5 {
  float: none;
  width: 364px;
  margin-left: 0;
}

.table td.span6,
.table th.span6 {
  float: none;
  width: 444px;
  margin-left: 0;
}

.table td.span7,
.table th.span7 {
  float: none;
  width: 524px;
  margin-left: 0;
}

.table td.span8,
.table th.span8 {
  float: none;
  width: 604px;
  margin-left: 0;
}

.table td.span9,
.table th.span9 {
  float: none;
  width: 684px;
  margin-left: 0;
}

.table td.span10,
.table th.span10 {
  float: none;
  width: 764px;
  margin-left: 0;
}

.table td.span11,
.table th.span11 {
  float: none;
  width: 844px;
  margin-left: 0;
}

.table td.span12,
.table th.span12 {
  float: none;
  width: 924px;
  margin-left: 0;
}

.table tbody tr.success > td {
  background-color: #dff0d8;
}

.table tbody tr.error > td {
  background-color: #f2dede;
}

.table tbody tr.warning > td {
  background-color: #fcf8e3;
}

.table tbody tr.info > td {
  background-color: #d9edf7;
}

.table-hover tbody tr.success:hover > td {
  background-color: #d0e9c6;
}

.table-hover tbody tr.error:hover > td {
  background-color: #ebcccc;
}

.table-hover tbody tr.warning:hover > td {
  background-color: #faf2cc;
}

.table-hover tbody tr.info:hover > td {
  background-color: #c4e3f3;
}

/********** Table ： End ************/

/********** Button : Start **********/
.close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.close:hover,
.close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  filter: alpha(opacity=40);
}

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}


.btn-large {
  padding: 11px 19px;
  font-size: 17.5px;
          border-radius: 6px;
}

.btn-large [class^="icon-"],
.btn-large [class*=" icon-"] {
  margin-top: 4px;
}

.btn-small {
  padding: 1px 6px;
  font-size: 1em;
          border-radius: 3px;
  font-weight: normal !important;
}

.btn-small [class^="icon-"],
.btn-small [class*=" icon-"] {
  margin-top: 0;
}

.btn-mini [class^="icon-"],
.btn-mini [class*=" icon-"] {
  margin-top: -1px;
}

.btn-mini {
  padding: 0 6px;
  font-size: 10.5px;
          border-radius: 3px;
}

.btn-block {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
          box-sizing: border-box;
}

.btn-block + .btn-block {
  margin-top: 5px;
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}


button.btn,
input[type="submit"].btn {
  *padding-top: 3px;
  *padding-bottom: 3px;
}

button.btn.btn-large,
input[type="submit"].btn.btn-large {
  *padding-top: 7px;
  *padding-bottom: 7px;
}

button.btn.btn-small,
input[type="submit"].btn.btn-small {
  *padding-top: 3px;
  *padding-bottom: 3px;
}

button.btn.btn-mini,
input[type="submit"].btn.btn-mini {
  *padding-top: 1px;
  *padding-bottom: 1px;
}


.btn-link,
.btn-link:active,
.btn-link[disabled] {
  background-color: transparent;
  background-image: none;
          box-shadow: none;
}

.btn-link {
  color: #0088cc;
  cursor: pointer;
  border-color: transparent;
          border-radius: 0;
}

.btn-link:hover,
.btn-link:focus {
  color: #005580;
  text-decoration: underline;
  background-color: transparent;
}

.btn-link[disabled]:hover,
.btn-link[disabled]:focus {
  color: #333333;
  text-decoration: none;
}

.header-link,
.header-link:active,
.header-link[disabled] {
  background-color: transparent;
  background-image: none;
          box-shadow: none;
}

.header-link {
  color: #3baae3;
  cursor: pointer;
  border-color: transparent;
          border-radius: 0;
}

.header-link:hover,
.header-link:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
}

.header-link[disabled]:hover,
.header-link[disabled]:focus {
  color: #333333;
  text-decoration: none;
}


.btn-link-mini,
.btn-link-mini:active,
.btn-link-mini[disabled] {
  background-color: transparent;
  background-image: none;
          box-shadow: none;
}

.btn-link-mini {
  padding: 0 6px;
  font-size: 10.5px;
  color: #0088cc;
  cursor: pointer;
  border-color: transparent;
          border-radius: 0;
  *padding-top: 1px;
  *padding-bottom: 1px;
}

.btn-link-mini:hover,
.btn-link-mini:focus {
  color: #005580;
  text-decoration: underline;
  background-color: transparent;
}

.btn-link-mini[disabled]:hover,
.btn-link-mini[disabled]:focus {
  color: #333333;
  text-decoration: none;
}
/********** Button : End ************/


/********** Style Class : Start **********/

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.invisible {
  visibility: hidden;
}

.affix {
  position: fixed;
}

.txt_align_center {
	text-align: center;
}

.txt_align_left {
	text-align: left;
}

.txt_align_right {
	text-align: right;
}
/********** Style Class : End ************/

/********** Show Info Message : Start **********/
.ui-state-info,
.ui-widget-content .ui-state-info,
.ui-widget-header .ui-state-info {
	border: 1px solid #74b2e2;
	background: #d7ebf9 url(../lib/jqueryui/css/cupertino/images/ui-bg_glass_80_d7ebf9_1x400.png) 50% top repeat-x;
	color: #000000;
}
.ui-state-info a,
.ui-widget-content .ui-state-info a,
.ui-widget-header .ui-state-info a {
	color: #000000;
}

.ui-state-info .ui-icon {
	background-image: url(../lib/jqueryui/css/cupertino/images/ui-icons_2e83ff_256x240.png);
}
/********** Show Info Message : End ************/


